.basket {
  min-height: 70vh;

  .head {
    text-align: center;
    padding-top: 200px;
    color: #595fef;

    h1 {
      font-size: 40px;
      margin-bottom: 15px;

  
    }

    p {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  .container {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;

    .wrapperLoading {
      text-align: center;
      margin-top: 200px;

      .loading {
        color: #595fef;
        margin-bottom: 20px;
      }
    }

    .title {
      margin-bottom: 30px;
      font-size: 30px;
      color: #595fef;

      span {
        font-size: 20px;
        opacity: 0.4;
        color: #595fef;
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;

      .wrapperCard {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .cardSumma {
        padding: 30px;
        width: 360px;
        height: 280px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 20px;
        }

        .text {
          margin-bottom: 10px;
          font-weight: 700;
        }

        .sale {
          margin-bottom: 10px;
          font-style: italic;
        }

        .text1 {
          width: 100%;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 40px;
        }
      }
    }
  }
}
