.button {
  padding: 15px 25px;
  width: 300px;
  background-color: #DFD0A7;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: #cfbe8d;
  }

  &:disabled {
    background-color: #cfbe8d;
    cursor: no-drop;
  }
}