.footer {
  background-color: #6f6f6f;
  color: white;
  min-height: 15vh;
  display: flex;
  align-items: center;

  .container {
    width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;

    .nav {
      display: flex;
      gap: 0 20px;

      a {
        color: white;
      }
    }
  }
}
