
.login {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  .wrapper {
    width: 400px;
    height: 480px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;


    .head {
      margin-bottom: 15px;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
    }

    .err {
      margin-bottom: 10px;
      font-size: 14px;
      text-align: center;
      color: red;
    }

    .form {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .groupEmail {
        margin-bottom: 10px;

        h3 {
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 500;
        }

        p {
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 500;
          color: red;
        }

        .inputEmail {
          position: relative;
          input {
            padding: 15px 25px;
            border-radius: 5px;
            width: 300px;
            margin-bottom: 5px;
          }

          .btnFix {
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            position: absolute;
            top: 12px;
            right: 10px;
          }
        }

        .exclamation {
          display: flex;

          p {
            margin-bottom: 0;
          }
        }
      }

      .groupPassword {
        h3 {
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 500;
        }

        p {
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 500;
          color: red;
        }

        .inputPassword {
          position: relative;
          input {
            padding: 15px 25px;
            border-radius: 5px;
            width: 300px;
            margin-bottom: 5px;
          }

          .btnEye {
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            position: absolute;
            top: 11px;
            right: 10px;
          }
        }

        .exclamation {
          display: flex;

          p {
            margin-bottom: 0;
          }
        }
      }

      .resetPassword {
        // display: flex;
        // margin-bottom: 10px;
        a {
          display: inline-block;
          color: black;
          margin-bottom: 5px;
          font-weight: 700;
          margin-left: auto;
          font-size: 12px;
        }
      }

      .buttonWidth {
        width: 100%;
      }
    }

    .text {
      text-align: center;
      

      span {
        color: blue;
        cursor: pointer;
      }
    }
  }
}


.buttonMargin {
  // margin-top: 15px;
}