.registration {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.registration .wrapper {
  width: 400px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.registration .wrapper .head {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.registration .wrapper .err {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  color: red;
}
.registration .wrapper .form {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registration .wrapper .form .groupEmail {
  margin-bottom: 10px;
}
.registration .wrapper .form .groupEmail h3 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
.registration .wrapper .form .groupEmail p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: red;
}
.registration .wrapper .form .groupEmail .inputEmail {
  position: relative;
}
.registration .wrapper .form .groupEmail .inputEmail input {
  padding: 15px 25px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 5px;
}
.registration .wrapper .form .groupEmail .inputEmail .btnFix {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 10px;
}
.registration .wrapper .form .groupEmail .exclamation {
  display: flex;
}
.registration .wrapper .form .groupEmail .exclamation p {
  margin-bottom: 0;
}
.registration .wrapper .form .groupPassword h3 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
.registration .wrapper .form .groupPassword p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: red;
}
.registration .wrapper .form .groupPassword .inputPassword {
  position: relative;
}
.registration .wrapper .form .groupPassword .inputPassword input {
  padding: 15px 25px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 5px;
}
.registration .wrapper .form .groupPassword .inputPassword .btnEye {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 10px;
}
.registration .wrapper .form .groupPassword .exclamation {
  display: flex;
}
.registration .wrapper .form .groupPassword .exclamation p {
  margin-bottom: 0;
}
.registration .wrapper .form .resetPassword {
  display: flex;
  margin-bottom: 10px;
}
.registration .wrapper .form .resetPassword a {
  display: inline-block;
  color: white;
  margin-bottom: 5px;
  margin-left: auto;
  font-size: 12px;
}
.registration .wrapper .form .buttonWidth {
  width: 100%;
}
.registration .wrapper .text {
  text-align: center;
}
.registration .wrapper .text span {
  color: blue;
  cursor: pointer;
}

.buttonMargin {
  margin-top: 15px;
}/*# sourceMappingURL=Registration.module.css.map */