
.registration {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  .wrapper {
    width: 400px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .head {
      margin-bottom: 15px;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
    }

    .err {
      margin-bottom: 10px;
      font-size: 14px;
      text-align: center;
      color: red;
    }

    .form {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .button {
        width: 300px;
      }
      
      .resetPassword {
        display: flex;
        margin-bottom: 10px;
        a {
          display: inline-block;
          color: white;
          margin-bottom: 5px;
          margin-left: auto;
          font-size: 12px;
        }
      }

    }

    .text {
      text-align: center;
      

      span {
        color: blue;
        cursor: pointer;
      }
    }
  }
}

